

body {
	background-color: #1B3663;
	font-family: Helvetica;
}

h1{
	color: #000000;
	letter-spacing: 16px;
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
}
.slogan{
	color: #D3D3D3;
	text-align: center;
	letter-spacing: 2px;
	font-weight: bold;
}
.footer{
	color:#D3D3D3;
	letter-spacing: -12px;
}
p{
	color: #D3D3D3;

	letter-spacing: 2px;
	font-weight: bold;
}
hr{
	color: #D3D3D3;
}